.login, .btn-registrarse{
    background-color: #F5710F;
    color: #f1eaea;
}

.registrarse{
    background-color: white; 
    color: #605e5e;
    border-color: #605e5e;
}

.letra-forgot,.login-registro{
    color: #F5710F;
}

.titulo-registro{
    text-align: center;
}